<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{this.nombre}}" name="nombre">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>