<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/contacts">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Contact</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success" role="alert">
  {{alert}}
</div>
{{/if}}

{{#if danger}}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{{/if}}

<form method="POST" action="/contacts/add" novalidate>
  {{> contacts-form}}
</form> 

