<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/flavor">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success" role="alert">
  {{alert}}
</div>
{{/if}}

{{#if danger}}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{{/if}}

<form method="POST" action="/flavor/add" novalidate>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="nombre">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 

