<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/flavor">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Flavor</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success" role="alert">
  {{alert}}
</div>
{{/if}}

{{#if danger}}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{{/if}}

{{#each rows}}
<form method="POST" action="/flavor/edit/{{this.id_sabor}}" novalidate>
  {{> flavor-form}}
</form> 
{{/each}}