<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">First</th>
      <th scope="col">First</th>
      <th scope="col" class="text-end">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="text-end">
        <a href="#" type="button" class="btn btn-primary">View</a>
        <a href="#" type="button" class="btn btn-primary">Edit</a>
        <a href="#" type="button" class="btn btn-primary">Delete</a>
      </td>
    </tr>

  </tbody>
</table>