<div class="container-fluid">
  <div class="row">
    <div class="col"> <!-- This column is for your navigation -->
     <form class="d-flex" role="search" method="POST" action="/" novalidate>
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="col-auto"> <!-- This column is for the "Add flavour" button -->
      <div class="container-fluid pb-3">
        <!-- Button trigger modal -->
      <a href="/flavor/add" type="button" class="btn btn-primary">+ Add flavour</a>
      </div>
    </div>
  </div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id_sabor}}</th>
      <td>{{this.nombre}}</td>
      <td class="text-end">
        <a href="#" type="button" class="btn btn-primary">View</a>
        <a href="#" type="button" class="btn btn-secondary">Edit</a>
        <a href="#" type="button" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>